html {
  font-family: "Courier New", Courier, monospace;
  margin: 0%;
}
body {
  background-color: var(--nyanza);
}
p {
  padding: 50px;
}
h1 {
  border-style: solid;
  border-color: whitesmoke;
  padding: 0.5em;

  text-align: center;
  display: inline;
}
:root {
  --nyanza: #d8f3dcff;
  --turquoise-green: #b7e4c7ff;
  --turquoise-green-2: #95d5b2ff;
  --ocean-green: #74c69dff;
  --mint: #52b788ff;
  --illuminating-emerald: #40916cff;
  --bottle-green: #2d6a4fff;
  --msu-green: #1b4332ff;
  --dark-jungle-green: #081c15ff;
}

.header {
  text-align: center;
  background-color: var(--dark-jungle-green);
  font-size: larger;

  color: whitesmoke;
}

h2 {
  color: black;
  background-color: var(--ocean-green);
  width: 200px;
  height: 50px;
  border-style: solid;
  border-color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#main-project {
  margin-left: 0%;
}
#marketing {
  margin-top: 5px;
}

.mypic {
  display: flex;
  justify-content: flex-end;
  align-self: auto;
}

.navlist {
  text-align: right;
}
.navbar {
  display: inline;
  font-size: 20px;
  position: relative;
}

.list {
  color: whitesmoke;
  padding-right: 10px;
  text-decoration: none;
}

.mypicture {
  display: flex;
}
.mypic {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

p {
  font-size: 20px;
}
.flex1 {
  background-color: var(--turquoise-green);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 50px;
  align-content: center;
  justify-content: center;
  border: 0.5em solid black;
}
.flex2 {
  background-color: var(--turquoise-green-2);
  display: flex;
  flex-wrap: wrap;
  border: 0.5em solid black;
  border-top: 0em;
}
.flex3 {
  background-color: var(--ocean-green);
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 0.5em solid black;
  border-top: 0em;
}
img {
  border: 7px solid var(--mint);
}
.aboutme {
  flex-direction: row;
  padding: 50px;
  align-items: center;
}
.contactslist {
  display: block;
}
.main1 {
  display: flex;
  align-items: flex-start;
  align-self: auto;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  width: 40%;
  align-items: center;
}
.main2 {
  display: flex;
  align-content: flex-end;
  justify-content: center;
}
.main3 {
  text-align: center;
}
.end {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  text-decoration: dashed;
}
.flex2 a {
  float: right;
  justify-content: right;
  align-self: flex-end;
}

@media screen and (max-width: 992px) {
  .header {
    background: var(--bottle-green);
  }
}
@media screen and (max-width: 768px) {
  .header {
    background-color: var(--msu-green);
  }
}
